body {
text-align: center;
font-family : Arial;
background: black;
color: white;
margin: 10px;
}

.menu {
position: fixed;
top: 0px;
right: 0px;
list-style: none;
cursor: pointer;
z-index: 10;
}

.links {
float: up;
padding-left: 20px;
padding-right:20px;
font-size: 50px;
text-decoration: none;
font-family: Times New Roman

}

.links:hover {
background: #cfcccc;
font-size: 60px;
}

#home {
height: 600px;
}

#tl {

background: -webkit-linear-gradient(#2f33fa, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

font-size: 100px;
position: absolute;
top: -70px;
left: 500px;
z-index: 6;
font-family:  Sans Serif;
}


#im1 {
height: 490px;
position: absolute;
top: 100px;
left: 25px;
z-index: 6;
}
#im1:hover {
height: 500px;
}

#bg {
height: 590px;
position: absolute;
top: 10px; 
left: 20px;
width: 1560px;
z-index: 5;
opacity: 0.5;
}

#name {
font-size: 35px;
position: absolute;
top: 500px;
left: 700px;
z-index: 7;
font-family: Georgia , Serif;
color: white;
}

#im2 {
height: 350px;
position: absolute;
top: 150px;
left: 430px;
z-index: 6;
}

#tech {
background: black;
height: 650px;
z-index: 6;
width: 1560px;
}

#tl2 {
font-size: 70px;
font-family: Georgia , Serif;
}

#climate {
background: black;
height: 650px;
z-index: 6;
width: 1560px;
}

#tlp {
font-size: 30px;
text-align: left;
margin-left:10px;
}

#probot {
color: white;
font-size: 20px;
text-align: left;
width: 600px;
margin-left: 8px;
word-spacing: 2px;
}
#probot:hover {
background: #cfcccc;
color: black;
}

#im3 {
height: 200px;
margin-top: -10px;
align: left;
margin-left: -1200px;
}

#im3:hover {
height: 210px;
}
#im4:hover {
height: 210px;
}

#im4 {
height: 200px;
margin-left: -450px;
margin-top: -200px;
}

#tlp2 {
font-size: 30px;
margin-top: -210px;
margin-right: -400px;
}

#pdrone {
color: white;
font-size: 20px;
width: 500px;
word-spacing: 2px;
margin-top: -20px;
margin-left: 728px;
}
#pdrone:hover {
background: #cfcccc;
color: black;
}

#im6 {
height: 230px;
margin-top: -430px;
margin-right: -500px;
width: 430px;
}
#im6:hover {
height: 240px;
width: 440px;
}

#tlp3 {
font-size: 30px;
text-align: left;
margin-left:10px;
}
#pclimate {
color: white;
font-size: 20px;
text-align: left;
width: 600px;
margin-left: 8px;
word-spacing: 2px;}
#pclimate:hover {
background: #cfcccc;
color: black;}

#tlp4 {
font-size: 30px;
margin-left: -140px;
margin-top: -300px;
}

#pworse {
color: white;
font-size: 20px;
width: 800px;
margin-left: 560px;
word-spacing: 2px;
margin-top: -30px;
text-align: left;}
#pworse:hover {
background: #cfcccc;
color: black;}

#im7 {
height: 300px;
margin-left:-1000px;
margin-top: -20px;
}
#im7:hover {
height: 310;}

#im8 {
height: 250px;
margin-top: -520px;
margin-left: 700px;}
#im8:hover {
height: 260px;}

#space {
background: black;
height: 650px;
z-index: 6;
width: 1560px;
}

#tlp5 {
font-size: 30px;
text-align: left;
margin-left:10px;
}

#pmars {
color: white;
font-size: 20px;
text-align: left;
width: 600px;
margin-left: 8px;
word-spacing: 2px;}
#pmars:hover {
background: #cfcccc;
color: black;}

#tlp6 {
font-size: 30px;
width: 300px;
margin-top: -280px;
margin-left: 1080px;}

#pspace {
margin-left: 1080px;
color: white;
font-size: 20px;
width: 300px;
word-spacing: 2px;
margin-top: -30px;}
#pspace:hover {
background: #cfcccc;
color: black;}

#tlp7 {
font-size: 30px;
margin-top: -250px;
margin-left: -20px;}

#plife {
color: white;
font-size: 20px;
width: 500px;
word-spacing: 2px;
margin-left: 520px;}
#plife:hover {
background: #cfcccc;
color: black;}

#im9 {
height: 300px;
margin-top: -300px;
margin-left: 110px;}
#im9:hover {
height: 310px;}

#im10 {
height: 250px;
margin-left: 900px;}
#im10:hover {
height: 260px;}

#im11 {
height: 300px;
margin-left: -1100px;
margin-top: -300px;}
#im11:hover {
height: 310px;}

#body {
background: black;
height: 650px;
z-index: 6;
width: 1560px;}

#creds {
background: black;
height: 650px;
z-index: 6;
width: 1560px;}

#tlp8 {
font-size: 30px;
margin-left: -1150px;}

#pexp {
width: 600px;
font-size: 20px;}
#pexp:hover{
background: #cfcccc;
color: black;}
#tlp9 {
font-size: 30px;
margin-top: -290px;
margin-left: 240px;}

#psurgery {
width: 920px;
font-size: 20px;
margin-top: -10px;
margin-left: 470px;}
#psurgery:hover {
background: #cfcccc;
color: black;}

#im12 {
margin-top: 0px;
margin-left: -1100px;
height: 300px;}
#im12:hover {
height: 310px;}

#im13 {
height: 250px;
margin-left: 700px;
margin-top: -550px;
}
#im13:hover {
height: 260px;
}

.credits{
font-size: 30px;}

.credits:hover {
font-size: 35px;}






















